/* .gallery {
  column-count: 3;
  column-gap: auto;
  width: 70%;
  margin: auto;


} */

.imagenes-porfolio {

    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: scale 350ms ease, opacity 350ms linear;
    margin: auto;
    padding: 20px;
  
  }
  
  .gallery:has(.imagenes-porfolio:hover) .imagenes-porfolio:not(:hover) {
    scale: .9;
    opacity: .7;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    /* Espacio de 200px entre los contenedores */
    background-color: black;
  }
  
  
  
  .contenedor-gallery {
    column-count: 3;
    column-gap: auto;
    width: 70%;
    margin: auto;
    opacity: 0;
    transform: translatey(100%);
    transition: opacity 2.5s ease-in-out, transform 1.5s ease-in-out;
  }
  
  .aparecer-gallery {
    opacity: 1;
    transform: translatey(0%);
  
  }

  @media (max-width: 768px) {

    .gallery {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 500px;
      /* Espacio de 200px entre los contenedores */
      background-color: black;
    }
    
    .contenedor-gallery {
    
      column-count: 3;
      column-gap: 10px;
      width: 90%;
      margin: auto;
      opacity: 0;
      transform: translatey(100%);
      transition: opacity 2.5s ease-in-out, transform 1.5s ease-in-out;
    }
    
    .aparecer-gallery {
      opacity: 1;
      transform: translatey(0%);
    
    }

    .imagenes-porfolio {

      width: 60%;
      aspect-ratio: 1/1;
      object-fit: cover;
      transition: scale 350ms ease, opacity 350ms linear;
      padding: 15px;
      margin: auto;
   
      
    
    }
    
  }
  