
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
   
    background-color: black;
  }
  
  
  
  .contenedor-gallery {
    column-count: 3;
   
    width: 80%;
    opacity: 0;
    transform: translatey(100%);
    transition: opacity 1.s ease-in-out, transform 1.s ease-in-out;
  }
  .imagenes-porfolio {

    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: scale 350ms ease, opacity 350ms linear;
    margin: auto;
    
  
  }
  
  .aparecer-gallery {
    opacity: 1;
    transform: translatey(0%);
  
  }
  .gallery:has(.imagenes-porfolio:hover) .imagenes-porfolio:not(:hover) {
    scale: .9;
    opacity: .7;
  }

  @media (max-width: 768px) {

    .gallery {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: auto;
    
      margin: auto;
      margin-bottom: 100px;
      margin-top: -50px;
      /* Espacio de 200px entre los contenedores */
      background-color: black;
    }
    
    .contenedor-gallery {
    
      column-count: 3;
      column-gap: 0;
      width: 100%;
      height: auto;
      opacity: 0;
      transform: translatey(100%);
      transition: opacity 2.5s ease-in-out, transform 1.5s ease-in-out;
    }
    
    .aparecer-gallery {
      opacity: 1;
      transform: translatey(10%);
    
    }

    .imagenes-porfolio {

      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      transition: scale 350ms ease, opacity 350ms linear;
    
      margin: auto;
   
      
    
    }
    
  }
  