* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

html,
body {
  
  width: 100%;
  height: 100%;
 

}

body {
  background-color: #021027;
}

.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: radial-gradient(white 0%, white 30%, transparent 80%, transparent);
  mask-image: radial-gradient(white 0%, white 30%, transparent 80%, transparent);
}


a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
}

a:hover {
  color: darkmagenta;
  transition: 0.8s;
}

.box {
 
  overflow: visible;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
}


.container1 {

margin-top: 30px;
display: flex;
flex-direction: column;
align-items: center;
height: 60pxpx;
gap: 300px; /* Espacio de 200px entre los contenedores */
}

.title {
font-size: 34px;
position: relative;
left: -100%;
opacity: 0;
transition: all .5s ease;
color: crimson;
margin-left: 3px;
margin-top: 30px;

}

.underline {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 0px;
height: 2px;
background-color:crimson;
margin: auto; /* Centro horizontalmente */
transition: all 0.3s ease;
}
#animatedTitle{
  margin: auto;
  margin-top: 60px;
  margin-left: 300px;
}
#animatedTitle3,
#animatedTitle4 {
  margin-top: 30px;

}

/*porfolio*/
.container3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
}


/****************************************************/
@media (max-width: 768px) {

  a {
      display: flex;
      flex-direction: row;
      margin: auto;
      color: white;
      text-decoration: none;
      padding: 0;
    
    }

   p {
    font-size: 10px;
  }



  .title {
    font-size: 34px;
    position: relative;
    left: -100%;
    opacity: 0;
    transition: all .5s ease;
    color: crimson;
    margin-left: 3px;
    margin-top: 30px;
    
    }
    
    .underline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 2px;
    background-color:crimson;
    margin: auto; /* Centro horizontalmente */
    transition: all 0.3s ease;
    }
    #animatedTitle{
      margin: auto;
      margin-top: 60px;
     
    }
    #animatedTitle3,
    #animatedTitle4 {
      margin: auto;
      margin-top: 30px;
    
    }
    
    /*porfolio*/
    .container3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: black;
    }

}

